version: "3"

services:
  src:
    build:
      context: .
    ports: 
      - "8000:8000"
    volumes:
      - ./src:/src # maps src directory to docker src directory
    command: >      # > for going to the next line
      sh -c "python manage.py wait_for_db && 
             python manage.py migrate && 
             python manage.py runserver 0.0.0.0:8000"    # shell for sh -c to run the cmd in shell
    environment: 
      - DB_HOST=db
      - DB_NAME=receipe
      - DB_USER=postgres
      - DB_PASS=supersecretpassword
    depends_on: 
      - db

  db:
    image: postgres:10-alpine
    environment: 
      - POSTGRES_DB=receipe # app name
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecretpassword