version: "3"

services:
  src:
    build:
      context: .
    ports: 
      - "8000:8000"
    volumes:
      - ./src:/src # maps app directory to docker app directory
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    